:root {
  --day-bar-fill: 0;
  --fifty-second-bar-fill: 0;
  --ten-minute-bar-fill: 0;
  --two-hour-bar-fill: 0;
}

a {
  color: #336699;
}

a:hover {
  color: #1f66ad;
}

code {
  color: #c65379;
  font-size: 120%;
}

.allow-hyphens {
  hyphens: auto;
}

.bar-label {
  margin-top: 1rem;
}

.container {
  margin-top: 0.5rem;
  max-width: 600px;
}

.negative-top-margin {
  margin-top: -0.4rem;
}

.progress {
  height: 2rem;
}

#dayBar {
  background-color: #336699;
  width: var(--day-bar-fill);
}

#day-phase-label {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#fiftySecondBar {
  background-color: #c66f39;
  width: var(--fifty-second-bar-fill);
}

#final-bar {
  margin-bottom: 1.3rem;
}

#full-day-label {
  display: flex;
  justify-content: space-between;
}

#tenMinuteBar {
  background-color: #267360;
  width: var(--ten-minute-bar-fill);
}

#twoHourBar {
  background-color: #7e5095;
  width: var(--two-hour-bar-fill);
}
